<!DOCTYPE html>
<html lang="ko" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>ECO FLATFORM</title>
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body class="landing area">
	<header th:replace="fragments/header :: headerFragment"></header>
	<div layout:fragment="content" id="contents">

	</div>
	<div id="test" style="display: none">
		<input type="text" id="testSearch">검색어

	</div>
	<input type="button" onclick="showTrend()" value="트랜드">
	<input type="button" onclick="showEmsCustomer()"  value="문의">
	<div id="TrendPage"></div>
	<div id="EmsCustomerPage"></div>
	<footer th:replace="fragments/footer :: footerFragment" id="wrap_footer"></footer>
	</body>
</html>