<!DOCTYPE html>
<html lang="ko" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>ECO FLATFORM</title>
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body class="landing area">
	<header th:replace="fragments/header :: headerFragment"></header>
	<div layout:fragment="content" id="contents">

	</div>
	<footer th:replace="fragments/footer :: footerFragment" id="wrap_footer"></footer>
	</body>
</html>