<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"l>

<th:block th:fragment="configFragment">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/contents.css}" rel="stylesheet">
    <link th:href="@{/css/main_menu.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/sumoselect.css}" rel="stylesheet">
    <link th:href="@{/css/layer_popup.css}" rel="stylesheet" >
    <link th:href="@{/css/dx.light.css}" rel="stylesheet" >
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/daterangepicker.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dx.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/leeni_dxchart.js}"></script>
    <script type="text/javascript" th:src="@{/js/dxDataGrid.rowspan.js}"></script>
    <script type="text/javascript" th:src="@{/js/leeni_dxCircularGauge.js}"></script>
    <script type="text/javascript" th:src="@{/js/leeni_dxdatagrid.js}"></script>
    <script type="text/javascript" th:src="@{/js/leeni_dxPieChart.js}"></script>
    <script type="text/javascript" th:src="@{/js/leeni_dxtreelist.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/jquery-1.12.0.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/main_menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/mo_main_menu.js}"></script>
	<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/daterangepicker.js}"></script>
    

<!--    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>-->
    <script type="text/javascript" th:src="@{js/forcasting.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/data.js}"></script>



    <script type="text/javascript" th:src="@{/js/inverter.js}"></script>
    <script type="text/javascript" th:src="@{/js/csCenter.js}"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <script>

        //기상청 OpenApi
        //1. new Weather() 생성
        let weather = new Weather();

        function weatherRun(longitude, latitude) {

            //2. 기상정보를 취득한 위/경도 지정
            weather.setPlace(longitude, latitude);

            //3. weather callback 등록 : weather.setPlace()을 호출하면 callback이 불려지고, 이후에는 매 45분마다 호출이 됨
            document.addEventListener("weather", function(e) {
                //날씨와 하늘정보에 대한 이미지를 표시
                console.log('하늘상태:' + e.sky + ' 기온:' + e.temperature);
                if(e.sky == 1){
                    document.getElementById("result").innerHTML = '<img src="images/weather_icon01.png" alt="">' + e.temperature + '°C';
                }else if(e.sky == 3){
                    document.getElementById("result").innerHTML = '<img src="images/weather_icon03.png" alt="">'+  e.temperature + '°C';

                }else{
                    document.getElementById("result").innerHTML = '<img src="images/weather_icon04.png" alt="">'+  e.temperature + '°C';
                }
            });
            //////////////////////////////////////////////////////////
        }
        $( document ).ready(function() {
            //{address_name: '서울 영등포구 양평동2가 29-23', b_code: '1156012600', h_code: '1156061000', main_address_no: '29', mountain_yn: 'N', …}address_name: "서울 영등포구 영등포로 33"address_type: "ROAD_ADDR"road_address: {address_name: '서울 영등포구 영등포로 33', building_name: '목동비즈타워', main_building_no: '33', region_1depth_name: '서울', region_2depth_name: '영등포구', …}x: "126.885222271529"y: "37.5232920131718"[[Prototype]]: Objectconstructor: ƒ Object()hasOwnProperty: ƒ hasOwnProperty()isPrototypeOf: ƒ isPrototypeOf()propertyIsEnumerable: ƒ propertyIsEnumerable()toLocaleString: ƒ toLocaleString()toString: ƒ toString()valueOf: ƒ valueOf()__defineGetter__: ƒ __defineGetter__()__defineSetter__: ƒ __defineSetter__()__lookupGetter__: ƒ __lookupGetter__()__lookupSetter__: ƒ __lookupSetter__()__proto__: (...)get __proto__: ƒ __proto__()set __proto__: ƒ __proto__()length: 1[[Prototype]]: Array(0)
            //격자 좌표 - x:58 y:126
            let longitude = 126.885222271529;	//x
            let latitude = 37.5232920131718;	//y

            weatherRun(longitude, latitude);
            
            
            
			$('#DashBoardPage').show();
			if($('#DashBoardPage')[0].innerHTML == ""){
				$.ajax({
					type:'GET',
					url: '/dashBoard',
				success: function (data){
					var script = document.createElement('script');
    				script.src = '/js/home.js';
    				document.head.appendChild(script);
					document.getElementById('DashBoardPage').innerHTML = data;
					}
				});
			}
		});



        function pg(num){
			$.each($('.PageWindow'),function(i){
					$('.PageWindow').hide();
			});
			
            switch (num){
                case 1:
                $('#DashBoardPage').show();
				if($('#DashBoardPage')[0].innerHTML == ""){
					$.ajax({
						type:'GET',
						url: '/dashBoard',
                    	success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/home.js';
    						document.head.appendChild(script);
                        	document.getElementById('DashBoardPage').innerHTML = data;
                    	}
                	});
                }
                break;
                case 2:
                $('#DiagramPage').show();
				if($('#DiagramPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'ppSetting',
                        success: function (data){
                            document.getElementById('DiagramPage').innerHTML = data;

                        }
                    });
				}
                break;
                case 3:
                $('#InvertPage').show();
				if($('#InvertPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'inverter',
                        success: function (data){
                            document.getElementById('InvertPage').innerHTML = data;
                            openBtn();
                            chart2Draw();
                            chart21Draw();
                            eachInverterDraw();
                        }
                    });
				}
                break;
                case 4:
                $('#ConboxPage').show();
				if($('#ConboxPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'chStatus',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/csStatus.js';
    						document.head.appendChild(script);
                            document.getElementById('ConboxPage').innerHTML = data;
                        }
                    });
				}
                break;
                case 5:
				$('#TrendPage').show();
				if($('#TrendPage')[0].innerHTML == ""){
					$.ajax({
						type:'GET',
						url: 'trend',
					success: function (data){
						var script = document.createElement('script');
    					script.src = '/js/trend.js';
    					document.head.appendChild(script);
						document.getElementById('TrendPage').innerHTML = data;
			
					}
				});
				}
				break;
                case 6:
				$('#ReportPage').show();
				if($('#ReportPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'report',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/report.js';
    						document.head.appendChild(script);
                            document.getElementById('ReportPage').innerHTML = data;
                        }
                    });
				}
				break;
                case 7:
				$('#AlarmPage').show();
				if($('#AlarmPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'alarm',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/alarm1.js';
    						document.head.appendChild(script);
                            document.getElementById('AlarmPage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 8:
				$('#AlarmAnaPage').show();
				if($('#AlarmAnaPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'alarm2',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/alarm2.js';
    						document.head.appendChild(script);
                            document.getElementById('AlarmAnaPage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 9:
				$('#AlarmStaPage').show();
				if($('#AlarmStaPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'alarm3',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/alarm3.js';
    						document.head.appendChild(script);
                            document.getElementById('AlarmStaPage').innerHTML = data;

                        }
                    });
                    }
                    break;
                case 10:
				$('#SettingPpPage').show();
				if($('#SettingPpPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'ppSetting',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/powerPlantsStting.js';
    						document.head.appendChild(script);
                            document.getElementById('SettingPpPage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 11:
				$('#SettingUsePage').show();
				if($('#SettingUsePage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'userSetting',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/userSetting.js';
    						document.head.appendChild(script);
                            document.getElementById('SettingUsePage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 12:
				$('#SettingRtuPage').show();
				if($('#SettingRtuPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'RTU',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/RTU.js';
    						document.head.appendChild(script);
                            document.getElementById('SettingRtuPage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 13:
                $('#NoticePage').show();
				if($('#NoticePage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'csCenter',
                        success: function (data){
                            document.getElementById('NoticePage').innerHTML = data;
                            csCenter1Start();
                        }
                    });
                    }
                    break;
                case 14:
                $('#EmsCustomerPage').show();
				if($('#EmsCustomerPage')[0].innerHTML == ""){
                    $.ajax({
                        type:'GET',
                        url: 'csCenter2',
                        success: function (data){
							var script = document.createElement('script');
    						script.src = '/js/csCenter2.js';
    						document.head.appendChild(script);
                            document.getElementById('EmsCustomerPage').innerHTML = data;
                        }
                    });
                    }
                    break;
                case 15:
                    alert("test");

            }
        }
    </script>
</th:block>

</html>
