<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/dx.all.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxchart.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxdatagrid.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxCircularGauge.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxPieChart.js}"></script>
  <script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript" th:src="@{/js/data.js}"></script>

  <link th:href="@{/css/dx.light.css}" rel="stylesheet" >
  <link th:href="@{/css/home.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Title</title>

<style>
	.contentBox{
		margin: 2.5%;
	}
	.alarmTabDiv{
		margin: 2.5%;
		border-bottom: 1px solid rgb(68, 84, 106);
	}
	.alarmTabButton{
		width: 100px;
		height: 40px;
		display: inline-block;
		text-align: center;
		font-size: 20px;
		background-color: rgb(68, 84, 106);
		color: white;
	}.alarmTabButtonSelect{
		background-color: midnightblue;
	}
	#alarmCheckDiv{
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px;
		display: inline-block;
		background-color: midnightblue;
		color: turquoise;
	}
	.alarmCheckedDiv{
		color: white;
	}
	#alarmCheck{
		display: none;
	}
	.sbd{
		margin: 10px;
	}
</style>
<script th:inline="javascript">
	let alarmData = indexing(alarm);
	let alarm1Grid = new dxdatagrid();
	alarm1Grid.setDataSource(alarmData);
	columnName = ['index','description','aDay','aDay2','aDetail', 'aCDay' ,'aCId'];
	alarm1Grid.setColumns(columnName);
	alarm1Grid.setPaging(15);
	captionName = ['구분','해당장비','발생일시','해제일시','알람내용', '확인일시' ,'확인계정'];
	alarm1Grid.setCaptions(captionName);
	alarm1Grid.setWidth('index', 50 +"%");
	alarm1Grid.setWidth('description', 100 +"%");
	alarm1Grid.setWidth('aDay', 150 +"%");
	alarm1Grid.setWidth('aDay2', 150 +"%");
	alarm1Grid.setWidth('aDetail', 200 +"%");
	alarm1Grid.setWidth('aCDay', 150 +"%");
	alarm1Grid.setWidth('aCId', 70 +"%");
	
	
	
function indexing(alarmData){
	for(let i = 1;i <= alarmData.length;i++){
	console.log(1)
		alarmData[i-1].index = i;
	}
    return alarmData;
}

function alarmSerch(){
	const type = $('select[name="type"]').val();
	const aEv = $('select[name="aEv"]').val();
	const startDay = new Date($('#startDay').val());
	const endDay =  new Date($("#endDay").val());
	endDay.setHours(23);
	endDay.setMinutes(59);
	endDay.setSeconds(59);
	const aT = $('select[name="aT"]').val();
	
	if(new Date(startDay) > new Date(endDay)){
		$('#startDay')[0].value = endDay;
		alert("시작시간이 끝시간을 넘을수 없습니다.");
		return null;
	}

	console.log("장비종류: " + type + ", 알람구분: " + aEv + ", 시작기간: " + startDay + ", 끝 기간: " + endDay + "발생종류: " + aT);


/*		
	$.ajax({
		url:"" ,
		type: "post",
		dataType: "json",
		data: {
			type: type,
			aEv: aEv,
			startDay: startDay,
			endDay: endDay,
			aT: aT
		},
		success: function(result){
			indexing(result);
			$('#alarm1Grid').dxDataGrid({
				dataSource: result
			});
		},
		error: function(data){
			console.log(data.result);
		}
	});
	
*/
}

function as(id){
	$('#alarmAll').removeClass("alarmCheckedDiv")
	$('#alarmCancel').removeClass('alarmCheckedDiv');
	$('#alarmStart').removeClass('alarmCheckedDiv');
	if(id == "alarmAll"){
		$('select[name="aT"] option[value=""]').prop('selected', 'selected');
		$('#alarmAll').addClass('alarmCheckedDiv');
	}else if(id == "alarmCancel"){
		$('select[name="aT"] option[value=alarmCancel]').prop('selected', 'selected');
		$('#alarmCancel').addClass('alarmCheckedDiv');
	}else if(id == "alarmStart"){
		$('select[name="aT"] option[value=alarmStart]').prop('selected', 'selected');
		$('#alarmStart').addClass('alarmCheckedDiv');
	}
	alarmSerch()
}


	$(window).resize(function () {
		var height_size = window.outerHeight;
		var mapResize = document.getElementById("alarm1Grid");
		if(height_size - 350 > 140){
			mapResize.style.height = height_size - 350 + "px";
		}else{
			mapResize.style.height = "140px";
		}
	});

$(() => {
	document.getElementById('endDay').value = new Date().toISOString().substring(0, 10);;
	
	var height_size = window.outerHeight;
	var mapResize = document.getElementById("alarm1Grid");
	if(height_size - 350 >= 140){
		mapResize.style.height = height_size - 350 + "px";
	}else{
		mapResize.style.height = "140px";
	}
	
	$('#alarm1Grid').dxDataGrid(alarm1Grid);
	
});
	
  window.onload = function (){
    console.log("ready");
  }

</script>
</head>
<body>
<div class="container" >
    <th:block th:replace="fragment/header"></th:block>
  <div style="background: #E6E6E6; height: 50px; display: flex; flex-direction: row; justify-content: space-between;">
    <div><h1><a href="http://localhost:8080/">ECO Platform</a></h1></div>
    <div style="display: flex; align-items: center;">
      <div>2023.02.09 15:07 맑음 -2도 사업그룹/현장명</div>
      <select>
        <option value="">1태양광발전소</option>
        <option value="">2태양광발전소</option>
        <option value="">3태양광발전소</option>
      </select>
      <div>사용자명</div>
    </div>
  </div>

  <div style="display: flex;">
    <div style="background: #E6E6E6; width: 10%; height: 1600px;">
      <div>
        <h1 style="padding: 20px 20px; color: black;">xEMS</h1>
        <ul>
          <li class="make-li"><button type="button" th:text="대시보드" th:onclick="|location.href='@{http://localhost:8080/}'|"></button></li>
          <li class="make-li"><button type="button" th:text="계통도" th:onclick="|location.href='@{http://localhost:8080/familyTree}'|"></button></li>
          <li class="make-li"><button type="button" th:text="인버터" th:onclick="|location.href='@{http://localhost:8080/invert}'|"></button></li>
          <li class="make-li"><button type="button" th:text="접속함" th:onclick="|location.href='@{http://localhost:8080/chStatus}'|"></button></li>
          <li class="make-li"><button type="button" th:text="트랜드" th:onclick="|location.href='@{http://localhost:8080/trend}'|"></button></li>
          <li class="make-li"><button type="button" th:text="보고서" th:onclick="|location.href='@{http://localhost:8080/report}'|"></button></li>
          <li class="make-li"><button type="button" th:text="알람" th:onclick="|location.href='@{http://localhost:8080/alarm}'|"></button></li>
          <li class="make-li"><button type="button" th:text="설정" th:onclick="|location.href='@{http://localhost:8080/setting}'|"></button></li>
          <li class="make-li"><button type="button" th:text="고객센터" th:onclick="|location.href='@{http://localhost:8080/csCenter}'|"></button></li>
        </ul>
      </div>
      <div style="margin-top: 500px;">
        <div>발전용량</div>
        <div>999.75 KWp</div>
        <div>금일발전량</div>
        <div>20968.0 KWp</div>
      </div>
    </div>

    <!-- 컨텐츠영역 시작 -->
    <div>
    <div class="alarmTabDiv"> <!-- 교체 탭 -->
		<div class="alarmTabButton alarmTabButtonSelect">알람현황</div>
		<div class="alarmTabButton" th:onclick="|location.href='@{http://localhost:8080/alarm2}'|">알람분석</div>
		<div class="alarmTabButton" th:onclick="|location.href='@{http://localhost:8080/alarm3}'|">통신상태</div>
	</div>
	<div class="contentBox">
		<div class="selectBoxs">
			<div class="sbd">
			<span>
			장비종류
			<select class="sb" name="type" onchange="alarmSerch()">
				<option value="">전체</option>
				<option value="chStatus">접속함</option>
				<option value="acb">ACB</option>
				<option value="vcb">VCB</option>
				<option value="invert">인버터</option>
				<option value="site">사이트이상</option>
			</select>
			</span>
			<span>
			알람구분
			<select class="sb" name="aEv" onchange="alarmSerch()">
				<option value="">전체</option>
				<option value="알람">알람</option>
				<option value="이벤트">이벤트</option>
			</select>
			</span>
			<span>
			기간
		<input type="date" id="startDay" value="2000-01-01" onblur="alarmSerch()"><input type="date" id="endDay" onblur="alarmSerch()">
		</span>
			<select name="aT" id="alarmCheck" disabled>
				<option value="">전체</option>
				<option value="alarmCancel">알람</option>
				<option value="alarmStart">발생</option>
			</select>
			<div id="alarmCheckDiv">
				<span id="alarmAll" onclick="as(this.id)" class="alarmCheckedDiv">전체</span>
				<span id="alarmCancel" onclick="as(this.id)">해제</span>
				<span id="alarmStart" onclick="as(this.id)">발생</span>
			</div>
			
			</div>
		</div>
		<div class="demo-container">
			<div id="alarm1Grid"></div>
		</div>
	</div>
	</div>
	</div>
</body>
</html>