<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/dx.all.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxchart.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxdatagrid.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxCircularGauge.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxPieChart.js}"></script>
  <script type="text/javascript" th:src="@{/js/home.js}"></script>

<script type="text/javascript" th:src="@{/js/data.js}"></script>

  <link th:href="@{/css/dx.light.css}" rel="stylesheet" >
  <link th:href="@{/css/home.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Title</title>

<style>
	.contentBox{
		margin: 2.5%;
	}
	.alarmTabDiv{
		margin: 2.5%;
		border-bottom: 1px solid rgb(68, 84, 106);
	}
	.alarmTabButton{
		width: 100px;
		height: 40px;
		display: inline-block;
		text-align: center;
		font-size: 20px;
		background-color: rgb(68, 84, 106);
		color: white;
	}.alarmTabButtonSelect{
		background-color: midnightblue;
	}
	.mainContainer{
		width: 80%;
	}
	.alarm2Container{
		margin: 2%
	}
	.aTypeNon{
		display: none;
	}
	.aType{
		width: 130px;
	}
</style>
<script th:inline="javascript">
// grid
	let alarmData = indexing(alarm2);
	let alarm2Grid = new dxdatagrid();
	alarm2Grid.setDataSource(alarmData);
	columnName = ['index','description','aDetail','aCode','aUse', 'aDCode' ,'aCount'];
	alarm2Grid.setColumns(columnName);
	alarm2Grid.setPaging(15);
	captionName = ['구분','해당장비','알람내용','알람코드','사용여부', '장비코드' ,'발생횟수'];
	alarm2Grid.setCaptions(captionName);
	alarm2Grid.setWidth('index', 50);
// chart
	let chartAlarm = new dxchart();
	chartAlarm.setDataSource(alarm2);
	
	chartAlarm.setCommonSeriesSettings(3,'aCode','bar');
	chartAlarm.setSeries(['aCount'],['발생 빈도'],['']);
	chartAlarm.setTitle('알람발생 빈도 Top 10');
	chartAlarm.setTooltip('true');
	chartAlarm.setScrollBar('true');
	chartAlarm.setZoomAndPan('both', 'pan');

	
function alarm2Serch(){
	const type = $('select[name="type"]').val();
	let aType;
	$('select[name="aType"]').addClass('aTypeNon');
	if(type == "" || type == "acb" || type == "site"){
		$('#AType').removeClass('aTypeNon');
		aType = $('#AType').val();
	}else{
		$('#' + type + "AType").removeClass('aTypeNon');
		aType = $('#' + type + "AType").val();	
	}
	const aUse = $('select[name="aUse"]').val();
	const startDay = new Date($('#startDay').val());
	const endDay =  new Date($("#endDay").val());
	endDay.setHours(23);
	endDay.setMinutes(59);
	endDay.setSeconds(59);
	

	if(new Date(startDay) > new Date(endDay)){
		$('#startDay')[0].value = endDay;
		alert("시작시간이 끝시간을 넘을수 없습니다.");
		return null;
	}
	
	console.log("장비종류: " + type + ", 알람종류: " + aType + ", 사용여부: " + aUse + ", 시작기간: " + startDay + ", 끝 기간: " + endDay);
	
/*	
	$.ajax({
		url:"" ,
		type: "post",
		dataType: "json",
		data: {
			type: type,
			aType: aType,
			aUse: aUse,
			startDay: startDay,
			endDay: endDay,
		},
		success: function(result){
			indexing(result);
			$('#alarm2Grid').dxDataGrid({
				dataSource: result
			});
		},
		error: function(data){
			console.log(data.result);
		}
	});
	
*/
}
	
	
function indexing(alarmData){
	for(let i = 1;i <= alarmData.length;i++){
	console.log(1)
		alarmData[i-1].index = i;
	}
    return alarmData;
}
	
	
$(window).resize(function () {
	var height_size = window.outerHeight;
	$('#alarm2Chart').dxChart({size: {height: height_size / 10 * 3}});
	$('#alarm2Grid').dxDataGrid({height: height_size / 10 * 3});
});
	
$(() => {
	document.getElementById('endDay').value = new Date().toISOString().substring(0, 10);
	
	var height_size = window.outerHeight;
	$('#alarm2Grid').dxDataGrid(alarm2Grid);
	$('#alarm2Grid').dxDataGrid({height: height_size / 10 * 3});
	
	$('#alarm2Chart').dxChart(chartAlarm);
	$('#alarm2Chart').dxChart({size: {height: height_size / 10 * 3}});
	
});


</script>
</head>
<body>
<div class="container">
  <div style="background: #E6E6E6; height: 50px; display: flex; flex-direction: row; justify-content: space-between;">
    <div><h1><a href="http://localhost:8080/">ECO Platform</a></h1></div>
    <div style="display: flex; align-items: center;">
      <div>2023.02.09 15:07 맑음 -2도 사업그룹/현장명</div>
      <select>
        <option value="">1태양광발전소</option>
        <option value="">2태양광발전소</option>
        <option value="">3태양광발전소</option>
      </select>
      <div>사용자명</div>
    </div>
  </div>

  <div style="display: flex;">
    <div style="background: #E6E6E6; width: 10%; height: 1600px;">
      <div>
        <h1 style="padding: 20px 20px; color: black;">xEMS</h1>
        <ul>
          <li class="make-li"><button type="button" th:text="대시보드" th:onclick="|location.href='@{http://localhost:8080/}'|"></button></li>
          <li class="make-li"><button type="button" th:text="계통도" th:onclick="|location.href='@{http://localhost:8080/familyTree}'|"></button></li>
          <li class="make-li"><button type="button" th:text="인버터" th:onclick="|location.href='@{http://localhost:8080/invert}'|"></button></li>
          <li class="make-li"><button type="button" th:text="접속함" th:onclick="|location.href='@{http://localhost:8080/chStatus}'|"></button></li>
          <li class="make-li"><button type="button" th:text="트랜드" th:onclick="|location.href='@{http://localhost:8080/trend}'|"></button></li>
          <li class="make-li"><button type="button" th:text="보고서" th:onclick="|location.href='@{http://localhost:8080/report}'|"></button></li>
          <li class="make-li"><button type="button" th:text="알람" th:onclick="|location.href='@{http://localhost:8080/alarm}'|"></button></li>
          <li class="make-li"><button type="button" th:text="설정" th:onclick="|location.href='@{http://localhost:8080/setting}'|"></button></li>
          <li class="make-li"><button type="button" th:text="고객센터" th:onclick="|location.href='@{http://localhost:8080/csCenter}'|"></button></li>
        </ul>
      </div>
      <div style="margin-top: 500px;">
        <div>발전용량</div>
        <div>999.75 KWp</div>
        <div>금일발전량</div>
        <div>20968.0 KWp</div>
      </div>
    </div>

    <!-- 컨텐츠영역 시작 -->
	<div class="mainContainer">
    <div class="alarmTabDiv"> <!-- 교체 탭 -->
		<div class="alarmTabButton" th:onclick="|location.href='@{http://localhost:8080/alarm}'|">알람현황</div>
		<div class="alarmTabButton alarmTabButtonSelect">알람분석</div>
		<div class="alarmTabButton" th:onclick="|location.href='@{http://localhost:8080/alarm3}'|">통신상태</div>
	</div>
	<div class="contentBox">
		<div class="selectBoxs">
			<select name="type" onchange="alarm2Serch()">
				<option value="">전체</option>
				<option value="chStatus">접속함</option>
				<option value="acb">ACB</option>
				<option value="vcb">VCB</option>
				<option value="invert">인버터</option>
				<option value="site">사이트이상</option>
			</select>
			<select class="aType" id="AType" name="aType" onchange="alarm2Serch()">
				<option value="">전체</option>
			</select>
			<select class="aTypeNon aType" id="chStatusAType" name="aType" onchange="alarm2Serch()">
				<option value="">전체</option>
				<option value="통신이상">통신이상</option>
				<option value="다이오드과온">다이오드과온</option>
				<option value="내부과온">내부과온</option>
				<option value="과전류">과전류</option>
				<option value="저전류">저전류</option>
				<option value="화재센서동작">화재센서동작</option>
				<option value="차단기Trip감지">차단기Trip감지</option>
			</select>
			<select class="aTypeNon aType" id="vcbAType" name="aType" onchange="alarm2Serch()">
				<option value="">전체</option>
				<option value="통신이상">통신이상</option>
				<option value="Remote CB OFF">Remote CB OFF</option>
			</select>
			<select class="aTypeNon aType" id="invertAType" name="aType" onchange="alarm2Serch()">
				<option value="">전체</option>
				<option value="Remote CB OFF">Remote CB OFF</option>
				<option value="Communicate fault">Communicate fault</option>
			</select>
			<select name="aUse" onchange="alarm2Serch()">
				<option value="">사용여부 : 전체</option>
				<option value="Y">사용여부 : Y</option>
				<option value="N">사용여부 : N</option>
			</select>
		<input type="date" id="startDay" value="2000-01-01" onblur="alarm2Serch()"><input type="date" id="endDay" onblur="alarm2Serch()">
		</div>
		<div class="alarm2Container">
			<div id="alarm2Chart"></div>
			<div id="alarm2Grid"></div>
		</div>
	</div>
	</div>
</body>
</html>