<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">
    <div id="contents_wrap">
        <div class="cont_header">
            <h1 class="page_title">
                <img src="../images/menu_icon05.png" alt="">
                <span>접속함 (채널상태)</span>
            </h1>
            <p class="page_navi">
                <span>태양광 모니터링</span>&gt;<span class="bold_color">접속함</span>
            </p>
        </div> <!-- cont_headerEnd -->
        <div class="cont_main PT20">
            <div class="multipleChart_wrap">
                <div class="chart_wrap">
                    <p class="chart_tit">각 인버터에 속한 접속함의 전류함</p>
                    <div class="chart_container"></div>
                </div> <!-- chart_wrapEnd -->
                <div class="chart_wrap">
                    <p class="chart_tit">인버터 [INV#1] 에 속한 접속함</p>
                    <div class="chart_container"></div>
                </div> <!-- chart_wrapEnd -->
                <div class="chart_wrap">
                    <p class="chart_tit">CONBOX#1 [18CH] - 채널별Ampere</p>
                    <div class="chart_container"></div>
                </div> <!-- chart_wrapEnd -->
            </div> <!-- multipleChart_wrapEnd -->
            <div class="andTtable_wrap ">
            </div> <!-- table_wrapEnd -->
        </div> <!-- cont_mainEnd -->
    </div> <!-- contents_wrapEnd -->

</div>

</html>