<div id="contents_wrap">
	<div class="cont_header">
		<h1 class="page_title">
			<img src="../images/menu_icon07.png" alt="">
			<span>알람분석</span>
		</h1>
		<p class="page_navi">
			<span>태양광 모니터링</span>&gt;<span>알람</span>&gt;<span class="bold_color">알람분석</span>
		</p>
	</div> <!-- cont_headerEnd -->
	<div class="cont_main">
		<div class="search_wrap">
			<p>
				<span class="search_tit">장비종류</span>
				<select name="type" onchange="alarm2Serch()" class="common_select">
					<option value="">전체</option>
					<option value=""></option>
				</select>
			</p>
			<p>
				<span class="search_tit">알람종류</span>
				<select id="chStatusAType" name="aType" onchange="alarm2Serch()" class="common_select">
					<option value="">전체</option>
					<option value=""></option>
				</select>
			</p>
			<p>
				<select id="vcbAType" name="aType" onchange="alarm2Serch()" class="common_select">
					<option value="">사용여부:전체</option>
					<option value=""></option>
				</select>
			</p>
			<p>
				<span class="search_tit">기간</span>
				<input class="common_date" type="date" id="startDay" onblur="alarm2Serch()">
				<span>~</span>
				<input class="common_date" type="date" id="endDay" onblur="alarm2Serch()">
			</p>
		</div> <!-- search_wrapEnd -->
		<div class="chart_wrap">
			<p class="chart_tit">알람 발생 빈도 TOP10</p>
			<div class="chart_container">
				<div id="alarm2Chart"></div>
			</div>
		</div> <!-- chart_wrapEnd -->
		<div class="andTtable_wrap ">
			<div id="alarm2Grid"></div>
		</div> <!-- table_wrapEnd -->
	</div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->