<div id="contents_wrap">
    <div class="cont_header">
        <h1 class="page_title">
            <img src="../images/menu_icon05.png" alt="">
            <span>접속함</span>
        </h1>
        <p class="page_navi">
            <span>태양광 모니터링</span>&gt;<span class="bold_color">접속함</span>
        </p>
    </div> <!-- cont_headerEnd -->
    <div class="cont_main PT20">
        <div class="multipleChart_wrap">
            <div class="chart_wrap">
                <p class="chart_tit">각 인버터에 속한 접속함의 전류함</p>
                <div class="chart_container">
                    <div id="csPie18"></div>
                </div>
            </div> <!-- chart_wrapEnd -->
            <div class="chart_wrap">
                <p class="chart_tit">인버터 [INV#1] 에 속한 접속함</p>
                <div class="chart_container">
                    <div id="csPie1"></div>
                </div>
            </div> <!-- chart_wrapEnd -->
        </div> <!-- multipleChart_wrapEnd -->
        <div class="chart_wrap">
            <p class="chart_tit">CONBOX#1 [18CH] - 채널별Ampere</p>
            <div class="chart_container">
                <div id="chart19"></div>
            </div>
        </div> <!-- chart_wrapEnd -->
        <div class="andTtable_wrap ">
            <div id="girdCsStatus"></div>
        </div> <!-- table_wrapEnd -->
    </div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->