<div id="contents_wrap">
	<div class="cont_header">
		<h1 class="page_title">
			<img src="../images/menu_icon07.png" alt="">
			<span>통신상태</span>
		</h1>
		<p class="page_navi">
			<span>태양광 모니터링</span>&gt;<span>알람</span>&gt;<span class="bold_color">통신상태</span>
		</p>
	</div> <!-- cont_headerEnd -->
	<div class="cont_main PT20">
		<div class="oneTable_wrap">
			<div class="alarm3Container">
				<div>
					<div class="tableBox">
						<div class="tableBoxName">
							접속함
						</div>
						<div id="alarm3Grid"></div>
					</div>
					<div class="tableBox">
						<div class="tableBoxName">
							계전기
						</div>
						<div id="alarm3Grid_acb"></div>
					</div>
					<div class="tableBox">
						<div class="tableBoxName">
							계전기
						</div>
						<div id="alarm3Grid_vcb"></div>
					</div>
					<div class="tableBox">
						<div class="tableBoxName">
							인버터
						</div>
						<div id="alarm3Grid_inv"></div>
					</div>
					<div class="tableBox">
						<div class="tableBoxName">
							TR온도계
						</div>
						<span id="alarm3Grid_tr"></span>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div> <!-- table_wrapEnd -->
	</div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->