<div id="contents_wrap">
	<div class="cont_header">
		<h1 class="page_title">
			<img src="../images/menu_icon06.png" alt="">
			<span>보고서</span>
		</h1>
		<p class="page_navi">
			<span>태양광 모니터링</span>&gt;<span class="bold_color">보고서</span>
		</p>
	</div> <!-- cont_headerEnd -->
	<div class="cont_main">
		<div class="search_wrap">
			<p>
				<span class="search_tit">장비종류</span>
				<select name="menu06_type" onchange="selectButtonReport()" class="common_select">
					<option value="">전체</option>
					<option value="conbox"></option>
					<option value="invert"></option>
				</select>
			</p>
			<p>
				<span class="search_tit">장비구분</span>
				<select name="menu06_div" onchange="selectButtonReport()" class="common_select">
					<option value="">전체</option>
					<option value="1">a</option>
				</select>
			</p>
			<p>
				<span class="search_tit">보고서</span>
				<select name="menu06_daily" onchange="selectButtonReport()" class="common_select">
					<option value="d">일일</option>
					<option value="m">월간</option>
					<option value="y">연간</option>
				</select>
			</p>
			<p>
				<span class="search_tit">자료형태</span>
				<select name="menu06_unit" class="common_select">
					<option value="60">1시간</option>
					<option value="30">30분</option>
					<option value="10">10분</option>
					<option value="5">5분</option>
					<option value="1">RawData</option>
				</select>
			</p>
			<p>
				<span class="search_tit">기간</span>
				<!-- 
				<input class="common_date" type="date" id="menu06_reportStartDay" onblur="selectButtonReport()">
				<span>~</span>
				<input class="common_date" type="date" id="menu06_reportEndDay" onblur="selectButtonReport()">
				-->
				<span>
					<span id="reportrange" class="calendar_select">
						<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
						<span class="common_date"></span>
					</span>
				</span>
			</p>
		</div> <!-- search_wrapEnd -->
		<div class="table_wrap">
			<div id="menu06_reportGridContainer"></div>
		</div> <!-- table_wrapEnd -->
	</div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->