<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="script">
<!--	<script type="text/javascript" th:src="@{/js/home.js}"></script>-->
</th:block>
<div layout:fragment="content">
	<div style="width: 90%;">
		<div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 50px;">
			<div class="item">탄소저감량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">금일발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">금일발전시간<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">금월발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">금년발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">누적발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">전일발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">전일발전시간<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">전월발전량<div style="font-size: 3.5em;">5150</div></div>
			<div class="item">전년발전량<div style="font-size: 3.5em;">5150</div></div>
		</div>
		<div style="display: flex; width: 100%; height: 50px; background: #E6E6E6; align-items: center; justify-content: space-between;">
			<div>Power Status (인버터 제조사, 모듈 제조사)</div>
			<div><input id="inverterCheckBox" type="checkbox" onclick="invMark(this);">개별 인버터 표시</div>
		</div>

		<div id="eachInverter" style="display: none; flex-wrap: wrap; justify-content: space-evenly; margin-top: 50px;">
			<div class="item2">
				INV#1 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#2 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#3 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#4 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#5 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#6 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#7 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
			<div class="item2">
				INV#8 (58.6%)<br>
				58.6 / 100 kW<br>
				gauge표시<br>
			</div>
		</div>

		<div style="display:flex; margin: 30px 0px; justify-content: space-evenly;">
			<div id="triangleMarker4"></div>
			<div id="triangleMarker2"></div>
			<div id="triangleMarker3"></div>
		</div>

		<div style="display: flex;">
			<div style="display: flex; width: 60%; height: 50px; background: #E6E6E6; align-items: center;">
				<div>발전량 추이 : </div>
				<div style="margin-left: 15px;">금일(10분 단위)</div>
				<div style="margin-left: 15px;">금일(1시간 단위)</div>
				<div style="margin-left: 15px;">최근30일(1일 단위)</div>
			</div>
			<div style="display: flex; width: 40%; height: 50px; background: #E6E6E6; align-items: center; justify-content: space-between;">
				<div>알람</div>
				<div>자세히보기</div>
			</div>
		</div>

		<div style="display: flex;">
			<div id="chart21" style="width: 60%; height: 400px;"></div>
			<div id="" style="width: 40%; background: #F2F2F2;">
				<ul>
					<li class="make-li" style="margin: 50px 0px;"><a href="">
						인버터[INV#7] Standby 22.12.01 17:33:26
					</a></li>
					<li class="make-li" style="margin: 50px 0px;"><a href="">
						인버터[INV#4] Standby 22.12.01 17:33:26
					</a></li>
					<li class="make-li" style="margin: 50px 0px;"><a href="">
						접속함[CON#8] 차단기 Trip 감지 22.12.01 17:33:26
					</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>
</div>
</html>