<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">
	<div id="contents_wrap" class="dashboard">
		<div class="cont_header">
			<h1 class="page_title">
				<img src="../images/menu_icon01.png" alt="">
				<span>대시보드</span>
			</h1>
			<p class="page_navi">
				<span>태양광 모니터링</span>&gt;<span class="bold_color">대시보드</span>
			</p>
		</div> <!-- cont_headerEnd -->
		<div class="cont_main">
			<div class="chart_wrap">
				<div>
					<div class="Generation_wrap">
						<p class="Generation_title">Total Generation <span class="title_line"></span></p>
						<div class="Generation_form">
							<span class="Generation_tit">탄소저감량</span>
							<p>
								<span class="Generation_data">1,234</span>
								<span class="Generation_sym">ktCO2</span>
							</p>
						</div>
					</div>
					<div class="Generation_wrap">
						<p class="Generation_title">Yearly Generation <span class="title_line"></span></p>
						<div class="Generation_form">
							<span class="Generation_tit">누적발전량</span>
							<p>
								<span class="Generation_data">11,579</span>
								<span class="Generation_sym">Mwh</span>
							</p>
						</div>
					</div>
				</div>
				<div class="floor">
					<div class="Generation_wrap">
						<p class="Generation_title">Mothly Generation <span class="title_line"></span></p>
						<div class="Generation_form comparison">
							<div class="data_form">
								<span class="Generation_tit">전월</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">kWh</span>
								</p>
							</div>
							<div class="data_form">
								<span class="Generation_tit">금월</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">kWh</span>
								</p>
							</div>
						</div>
					</div>
					<div class="Generation_wrap">
						<p class="Generation_title">Daily Generation <span class="title_line"></span></p>
						<div class="Generation_form comparison">
							<div class="data_form">
								<span class="Generation_tit">전일</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">kWh</span>
								</p>
							</div>
							<div class="data_form">
								<span class="Generation_tit">금일</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">kWh</span>
								</p>
							</div>
						</div>
					</div>
					<div class="Generation_wrap">
						<p class="Generation_title">Generation Time <span class="title_line"></span></p>
						<div class="Generation_form comparison">
							<div class="data_form">
								<span class="Generation_tit">전일</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">Hour</span>
								</p>
							</div>
							<div class="data_form">
								<span class="Generation_tit">금일</span>
								<p>
									<span class="Generation_data">#,###</span>
									<span class="Generation_sym">Hour</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- chart_wrapEnd -->
			<div class="chart_wrap">
				<p class="chart_tit">인버터 제조사, 모듈 제조사 (발전소설정기준)
					<a href="" class="slide_btn"><input type="checkbox" class="checkbox">개별 인버터 표시</a>
				</p>
				<div class="chart_container">
					<div class="graph_wrap">
						<div class="Progress_form">
							<p class="graph_tit">INV#1 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#2 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#3 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#4 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#5 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#6 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#7 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
						<div class="Progress_form">
							<p class="graph_tit">INV#8 (58.6%)</p>
							<div class="Progress_graph">

							</div>
						</div>
					</div><!-- graph_wrapEnd -->
				</div>
				<div class="graph_wrap">
					<div class="gauge_form">
						<div class="gauge_graph">

						</div>
						<p class="graph_tit">현재발전출력 (kW)</p>
					</div>
					<div class="gauge_form">
						<div class="gauge_graph">

						</div>
						<p class="graph_tit">인버터(DC/AC) 변환효율 (%)</p>
					</div>
					<div class="gauge_form">
						<div class="gauge_graph">

						</div>
						<p class="graph_tit">발전효율 (%)</p>
					</div>
				</div><!-- graph_wrapEnd -->
			</div> <!-- chart_wrapEnd -->
			<div class="multipleChart_wrap">
				<div class="chart_wrap">
					<div class="chart_tit">
						<span>발전량추이</span>
						<ul class="tab_menu">
							<li class="tab_tit tab_on"><a href="#">금일 (10분 단위)</a></li>
							<li class="tab_tit"><a href="#">금일 (1시간 단위)</a></li>
							<li class="tab_tit"><a href="#">최근 30일 (1일 단위)</a></li>
						</ul>
					</div>
					<div class="chart_container"></div>
				</div> <!-- chart_wrapEnd -->
				<div class="chart_wrap">
					<p class="chart_tit">알람<a href="" class="slide_btn">자세히보기</a></p>
					<div class="chart_container"></div>
				</div> <!-- chart_wrapEnd -->
			</div> <!-- multipleChart_wrapEnd -->
		</div> <!-- cont_mainEnd -->
	</div> <!-- contents_wrapEnd -->
</html>