<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/default_layout}">
<div layout:fragment="content">
	<div class="PageWindow" id="DashBoardPage"></div>
	<div class="PageWindow" id="DiagramPage"></div>
	<div class="PageWindow" id="InvertPage"></div>
	<div class="PageWindow" id="ConboxPage"></div>
	<div class="PageWindow" id="TrendPage"></div>
	<div class="PageWindow" id="ReportPage"></div>
	<div class="PageWindow" id="AlarmPage"></div>
	<div class="PageWindow" id="AlarmAnaPage"></div>
	<div class="PageWindow" id="AlarmStaPage"></div>
	<div class="PageWindow" id="SettingPpPage"></div>
	<div class="PageWindow" id="SettingUsePage"></div>
	<div class="PageWindow" id="SettingRtuPage"></div>
	<div class="PageWindow" id="NoticePage"></div>
	<div class="PageWindow" id="EmsCustomerPage"></div>
</html>