<div id="contents_wrap" class="inverter">
    <div class="cont_header">
        <h1 class="page_title">
            <img src="../images/menu_icon03.png" alt="">
            <span>인버터</span>
        </h1>
        <p class="page_navi">
            <span>태양광 모니터링</span>&gt;<span class="bold_color">인버터</span>
        </p>
    </div> <!-- cont_headerEnd -->
    <div class="cont_main PT20">
        <!--실시간 인버터 개별출력-->
        <div class="chart_wrap">
            <p class="chart_tit">실시간 인버터 개별출력 <a href="" class="slide_btn">OPEN</a></p>
            <div class="chart_container">
                <div class="eachInverter">
                    <p class="small_title">INV#1<br/>
                        [<span class="endValue">96.75</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#2<br/>
                        [<span class="endValue">96.75</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#3<br/>
                        [<span class="endValue">96.75</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#4<br/>
                        [<span class="endValue">96.75</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#5<br/>
                        [<span class="endValue">96.75</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#6<br/>
                        [<span class="endValue">103.20</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#7<br/>
                        [<span class="endValue">103.20</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eachInverter">
                    <p class="small_title">INV#8<br/>
                        [<span class="endValue">103.20</span>kW]
                    </p>

                    <div class="small_chart">
                        <div class="center_section">
                            <div class="inverter_gauge"></div>


                            <div class="text_value">
                                <span class="now_value">46.8</span><br/>kW
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- chart_wrapEnd -->
        <div class="multipleChart_wrap PT10">
            <!--실시간 인버터 전체 출력값 30초단위 인버터들 현재 출력량 총 합계 areachart-->
            <div class="chart_wrap">
                <p class="chart_tit">실시간 인버터 전체 출력값 (kW)</p>
                <div class="chart_container" id="menu03_realtimeChart"></div>
            </div> <!-- chart_wrapEnd -->
            <!--인버터별 DC/AC 비교 각 인버터별 AC출력,DC입력 막대차트-->
            <div class="chart_wrap">
                <p class="chart_tit">인버터별 DC/AC 비교</p>
                <div class="chart_container" id="menu03_invDCAC"></div>
            </div> <!-- chart_wrapEnd -->
        </div> <!-- multipleChart_wrapEnd -->
        <div class="andTable_wrap ">
        </div> <!-- table_wrapEnd -->
    </div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->