<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script>
    const login = () => {
      alert('login');
    }
  </script>
</head>

<body>
<div>
    <h2>ECO PLATFORM</h2>
  <table>
    <tr>
      <td>사업그룹 선택
        <section>
          <option></option>
        </section>
      </td>
    </tr>
    <tr>
      <td><input type="test" id="userId" placeholder="UserID"></td>
    </tr>
    <tr>
      <td><input type="password" id="userPwd" placeholder="Password"></td>
    </tr>
    <input type="checkbox" >
  </table>
  <div>
    <button onclick="Login();">로그인</button>
  </div>

</div>
</body>
</html>