<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/dx.all.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxchart.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxdatagrid.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxCircularGauge.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxPieChart.js}"></script>
  <script type="text/javascript" th:src="@{/js/powerPlantsStting.js}"></script>

  <link th:href="@{/css/dx.light.css}" rel="stylesheet" >
  <link th:href="@{/css/layer_popup.css}" rel="stylesheet" >
  <link th:href="@{/css/home.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/common.css" />
  <link rel="stylesheet" type="text/css" href="../css/main_menu.css" />
  <link rel="stylesheet" type="text/css" href="../css/contents.css" />
  <title>Title</title>
</head>

<body>
<div id="contents_wrap">
  <div class="cont_header">
    <h1 class="page_title">
      <img src="../images/menu_icon08.png" alt="">
      <span>발전소설정</span>
    </h1>
    <p class="page_navi">
      <span>태양광 모니터링</span>&gt;<span>설정</span>&gt;<span class="bold_color">발전소설정</span>
    </p>
  </div> <!-- cont_headerEnd -->
  <div class="cont_main">
    <div class="search_wrap">
      <input class="common_input"placeholder="검색어 입력" type="text">
      <button class="commom_btn">검색</button>
<!--      <ul class="btn_form">-->
<!--        <li><button class="commom_btn bgREDcolor">삭제</button></li>-->
<!--        <li><button class="commom_btn">등록</button></li>-->
<!--      </ul>-->
    </div> <!-- search_wrapEnd -->
    <div class="table_wrap">
      <div id="gridSetting"></div>
    </div> <!-- table_wrapEnd -->
  </div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->




<!-- 팝업-->
<div class="popup_layer" id="popup_layer" style="display: none;">
  <div class="popup_box">
    <div><h2>발전소 설정 정보 저장</h2></div>
    <!--팝업 컨텐츠 영역-->
    <div class="popup_cont">
      <table>
        <tbody>
            <td>사업현장:
              <select id="ppSite">
                <option>전체</option>
              </select>
            </td>
          <tr>
            <td>종류:
              <select id="ppType">
                <option>전체</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>발전소명:
              <input type="text" id="" >
            </td>
          </tr>
          <tr>
            <td>발전주소지:
              <input type="text" value="">
            </td>
          </tr>
         <tr>
           <td>모듈
             <select>
               <option>전체</option>
             </select>
             <select>
               <option>전체</option>
             </select>
             <span>수량: <input type="text" value=""></span>
           </td>
         </tr>
        <tr>
          <td>
            <span>발전용량: <input type="text" value=""></span>
          </td>
        </tr>
            <tr>
              <td>모듈
                <select>
                  <option>전체</option>
                </select>
                <select>
                  <option>전체</option>
                </select>
                <span>수량: <input type="text" value=""></span>
              </td>
            </tr>
        <tr>
          <td><input type="date"></td>
          <td><input type="date"></td>
          <td><input type="date">/td>
          <td><select>
            <option>전체</option>
        </select></td>
          <td><select>
            <option>전체</option>
          </select></td>
          <td><select>
            <option>전체</option>
          </select></td>
        </tr>
        </tbody>
      </table>

    </div>
    <!--팝업 버튼 영역-->
    <div>
      <button id="ppInsert" onclick="ppInsert();">저장</button>
      <button id="ppUpdate" onclick="ppUpdate();" style="display: none">수정</button>
      <button onclick="javascript:closePop();">닫기</button>
    </div>
  </div>
</div>
    </body>
    </html>