<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/dx.all.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxchart.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxdatagrid.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxCircularGauge.js}"></script>
  <script type="text/javascript" th:src="@{/js/leeni_dxPieChart.js}"></script>
  <script type="text/javascript" th:src="@{/js/userSetting.js}"></script>

  <link th:href="@{/css/layer_popup.css}" rel="stylesheet" >
  <link th:href="@{/css/dx.light.css}" rel="stylesheet" >
  <link th:href="@{/css/home.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script th:inline="javascript">
  window.onload = function (){

  }

</script>
<body>
<div id="contents_wrap">
  <div class="cont_header">
    <h1 class="page_title">
      <img src="../images/menu_icon08.png" alt="">
      <span>발전소설정</span>
    </h1>
    <p class="page_navi">
      <span>태양광 모니터링</span>&gt;<span>설정</span>&gt;<span class="bold_color">발전소설정</span>
    </p>
  </div> <!-- cont_headerEnd -->
  <div class="cont_main">
    <div class="search_wrap">
      <input class="common_input"placeholder="검색어 입력" type="text">
      <button class="commom_btn">검색</button>
      <ul class="btn_form">
        <li><button class="commom_btn bgREDcolor">삭제</button></li>
        <li><button class="commom_btn">등록</button></li>
      </ul>
    </div> <!-- search_wrapEnd -->
    <div class="table_wrap">
      <div id="gridUserSetting"></div>
    </div> <!-- table_wrapEnd -->
  </div> <!-- cont_mainEnd -->
</div> <!-- contents_wrapEnd -->




<div class="popup_layer" id="popup_layer" style="display: none;">
  <div class="popup_box">
    <div><h2>사용자 정보 수정</h2></div>
    <!--팝업 컨텐츠 영역-->
    <div class="popup_cont">
      <table>
        <tbody>
        <tr>
          <td>이름:
            <input type="text" id="" >
          </td>
        </tr>
        <tr>
          <td>아이디:
            <input type="text" value="" disabled>
          </td>
        </tr>
        <tr>
          <td>휴대전화
             <input type="text" value="">
          </td>
        </tr>
        <tr>
          <td>이메일
            <input type="text" value="">
          </td>
        </tr>
        <tr>
          <td>사업그룹
            <input type="text" value="" disabled>
          </td>
        </tr>
        <tr>
          <td>사업현장
            <select>
              <option>전체</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>권한선택
            <select>
              <option>전체</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>알람수신
            <label><input type="checkbox">SMS</label>
            <label><input type="checkbox">EMAIL</label>
          </td>
        </tr>
        <tr>
          <td>사용여부
            <select>
              <option>Y</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <!--팝업 버튼 영역-->
    <div>
      <button onclick="userUpdate();">수정</button>
      <button onclick="javascript:closePop();">닫기</button>
    </div>
  </div>
</div>
</body>
</html>